# Ignore configuration files that may contain sensitive information.
*local*
project.local.yml
!default.*local*
!example.*local*
!docker-compose.local.yml

#Ignore db-backup
db-backup

# Ignore paths that contain user-generated content.
docroot/sites/*/files
docroot/sites/*/private

# Ignore build artifacts
/deploy
bin/*
tmp
reports

# OS X
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Eclipse
*.pydevproject
.project
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpathk

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# User-specific stuff:
.idea/

#XHProf
xhprof_*

#Composer vendor
vendor/.git

#Sass
.sass-cache

#Netbeans IDE
nbproject
nbproject/*

# DrupalVM
.vagrant/
console/*

# Ignore backups
drush-backups/*
etc/mysql
# Environment Variables
.bash_history
.cache/
.composer/
.drush/
.env

# Ignore retry files from ansible (u other retry files)
*.retry

# Ignore local certs
etc/nginx/ssl/*.pem
etc/nginx/ssl/*.crt
etc/nginx/ssl/*.key
etc/nginx/ssl/*.p12

# Ignore local settings file
docroot/sites/settings.local.php
docroot/themes/custom/obtainit/node_modules