.obtainit-padding-reset {
  padding: 0;
}

.obtainit-padding-top {
  padding-top: 30px;
}

.obtainit-padding-bottom {
  padding-bottom: 30px;
}

.obtainit-margin-bottom {
  margin-bottom: 30px;
}

.obtainit-margin-reset {
  margin: 0;
}

.obtainit-left {
  float: left;
}

.obtainit-right {
  float: right;
}