<div class="container">
  <div class="row">
    <div class="col-md-5">
      {{ content.field_item_images }}
    </div>
    <div class="col-md-7">
      <h1>{{ node.title.value }}</h1>
      {{ content.body }}
      <div class="row">
        <div class="col-md-9">
          contact user
        </div>
        <div class="col-md-3">
          {{ content.sharethis }}
        </div>
      </div>
    </div>
  </div>
</div>
