<a href="{{ url }}">{{ content.field_item_images }}</a>
<p class="obtainit-listing__item__title obtainit-padding-top"><a href="{{ url }}">{{ label }}</a></p>
<p class="obtainit-listing__item__comment_count text-uppercase">9 Comments</p>
