<div class="obtainit-wrapper">
  <div class="obtain-page-section obtain-page-section__padding">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {{ content.field_address }}
        </div>
        <div class="col-md-4">
          {{ content.field_map }}
        </div>
      </div>
    </div>
  </div>
</div>